

.swiper-carousel1-container {
  max-width: 130rem;
  height: 30rem;
  padding: 0rem 0rem;
  margin: 0 auto;
}

.heading-1 {
  color: white;
  padding: 01rem 0;
  font-size: 3.5rem;
  text-align: right;
  margin-right: 60px; /* Add margin to the right side */
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}


.swiper-carousel1 {
  height: 30rem;
  padding: 0rem 0;
  position: relative;
}

.swiper-slide {
  width: 30rem; 
  height: 36rem;
  position: relative;
}
.swiper-slide img {
  width: 20rem; 
  height: 20rem;
  /* max-width: 100%; 
  max-height: 100%;  */
  border-radius: 2rem;
  object-fit: cover;
}
.swiper-carousel2 .swiper-pagination-progressbar-fill {
  background-color: #222224 ; /* Change to your desired color */
  /* color:#222224 */
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}